@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body
{
  background:#EFEFEF;
}
#viewport h1
{
  color:#2C3E50;
}
#viewport > div .tooltip
{
  color:rgba(0,0,0,0.48);
}
.selected
{
  background:#d6d8d7;
  color:black;
}
#classes_datedList > div
{
  color:black !important;
  background:white !important;
}
#classes_selection_selection > div
{
  background:#d6d8d7;
}
#buttonTray_next
{
  padding:10px;
  text-align: center;
}

body
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}
#viewport
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  font-family: 'Open Sans', sans-serif;
  overflow-x:hidden;
  overflow-y:visible;
}
#viewport > div
{
  padding:16px;
  display:block;
}
#viewport > #thankyou
{
  display:none;
}
#viewport > #thankyou.show
{
  display:block;
}
#viewport > div .tooltip
{
  margin-bottom:8px;
  font-family: 'Raleway', sans-serif;
  font-style:italic;
  font-size:16px;
}
#viewport > div input[type=text],
#viewport > div input[type=number],
#viewport > div input[type=email]
{
  width:100%;
  font-size:24px;
  padding:0px;
  margin:0px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid rgba(0,0,0,0.48);
}
#validation
{
  display:none;
}
#buttonTray
{
  font-size:0px;
}
#buttonTray > div
{
  width:100%;
  height:32px;
  font-size:16px;
  display:inline-block;
}
#buttonTray > div:hover
{
  background:rgba(0,0,0,0.16);
}
#buttonTray > div:hover
{
  background:rgba(0,0,0,0.32);
}

#year_years,
#batch_batches
{
  display: table;
  width: 100%;
  table-layout: fixed;
  font-family: 'Raleway', sans-serif;
}
#year_years > div,
#batch_batches > div
{
  padding:8px;
  display: table-cell;
  text-align: center;
  cursor:pointer;
  color:rgba(0,0,0,0.84);
  transition:all 0.2s;
}
#year_years > div:hover,
#batch_batches > div:hover
{
  background:rgba(0,0,0,0.16);
}
#year_years > div:active,
#batch_batches > div:active
{
  background:rgba(0,0,0,0.32);
}

#classes_calendar > table
{
  width:100%;
}
#classes_calendar > table td
{
  padding:8px;
  cursor:pointer;
}
#classes_calendar > table td:hover
{
  background:rgba(0,0,0,0.16);
}
#classes_calendar > table td:active
{
  background:rgba(0,0,0,0.32);
}
#classes_datedList,
#classes_selection_selection
{
  padding:8px;
}
#classes_datedList > div,
#classes_selection_selection > div
{
  width:calc(100% - 16px);
  padding:8px;
  margin-bottom:8px;
  display:table;
}
#classes_datedList > div > div,
#classes_selection_selection > div > div
{
  display:table-cell;
  padding:8px;
}
#classes_datedList > div > div:nth-child(1) > h2,
#classes_selection_selection > div > div:nth-child(1) > h2
{
  margin:0px;
}
#classes_datedList > div > div:nth-child(1) > p,
#classes_selection_selection > div > div:nth-child(1) > p
{
  padding:0px;
  padding-left:8px;
  margin:0px;
  font-size:0.9em;
  color:gray;
}
#classes_datedList > div > div:nth-child(1) > span
{
  display:none;
}
#classes_selection_selection > div > div:nth-child(1) > span
{
  display:block;
  color:gray;
  padding-left:8px;
  font-size:0.8em;
}
#classes_datedList > div > div:nth-child(1) > div,
#classes_selection_selection > div > div:nth-child(1) > div
{
  padding:8px;
}
#classes_datedList > div > div:nth-child(1) > div > select,
#classes_selection_selection > div > div:nth-child(1) > div > select
{
  padding:8px;
  display:block;
  border:transparent;
  outline:none;
}
#classes_datedList > div > div:nth-child(2),
#classes_selection_selection > div > div:nth-child(2)
{
  width:32px;
  vertical-align:top;
}
#classes_datedList > div > div:nth-child(2) > img,
#classes_selection_selection > div > div:nth-child(2) > img
{
  cursor:pointer;
  width:32px;
  height:32px;
  outline:none;
}
#buttonTray > div
{
  cursor:pointer;
}

@media all and (min-width: 410px) {
  #classes_calendar
  {
    max-width:410px;
    margin:0 auto;
  }
}
@media all and (min-width: 580px) {
  #viewport > div
  {
    width:580px;
    margin:0 auto;
  }
}
