<form action="/submit" method="post">
   Roll no:
  <input type="text" name="rollno" value="{{form.rollno}}">
   Name:
  <input type="text" name="name" value="{{form.name}}">
  Date:
  <input type="date" name = "date" value = "{{form.date}}">
</form>

<form class="" action="/submit_classes" method="post">
  {%for class in classes%}
  <input type="checkbox" name="class{{loop.index}}" value="{{class.value}}">{{class.name}}
  {%endfor%}
  <br>
  Other:
  <input type="text" name="other1" value="">
  <input type="submit" name="" value="Submit">
</form>
