<!DOCTYPE html>
<html>
<title>Attendance Claims</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('http://wallpaper-gallery.net/images/dark-wallpapers/dark-wallpapers-15.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    The way you claim your attendance is going to change. Forever.
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Made with ❤ in KMC
  </div>
  <div class="w3-display-bottomright w3-padding-large">
   Sidharth R · Ashwin Abraham · Avinash Rao · Aditya Grama
  </div>
</div>

</body>
</html>
