<!DOCTYPE html>
<html>
<title>Landing Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<style>
body,h1 {font-family: 'Open Sans', sans-serif;}
body, html {height: 100%;color: #2C3E50}
.bgimg {
    background-color: #EFEFEF;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-display-centre {
  color: #2C3E50;
}
.w3-large {
  color: black;
}
.w3-display-bottomright {
  color: #2C3E50;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-centre w3-padding-large w3-xlarge">
    We are trying to simplify your life.
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top"><a href="/claim" class="w3-btn w3-white w3-border w3-padding-large w3-hover-red">Give Claims</a></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><a href="/login" class="w3-btn w3-white w3-border">Check status</a></p>
  </div>
  <div class="w3-display-bottomright w3-padding-large">
    Ashwin Abraham · Sidharth R · Avinash Rao G
  </div>

</div>

</body>
</html>
