<!DOCTYPE html>
<html>
  <head>
    <title>Manipal Attendance Claims</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    {% assets "css_all" %}
   <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
   {% endassets %}
   <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="viewport">
      <div class="show">
        <h1>Attendance Claims</h1>
        <p>Logged in as <b>{{uname}}</b>.</p>
        <p>
          {%if not all_claims%}
          All the claims that have been submitted and awaiting {%if admin%} your {%endif%}approval are listed below.
          {%if admin%}
          You need to select the checkboxes and approve or disapprove.<br/>
          <div id="links">
            <a href="/changepassword"><div>Change Password</div></a>
            <a href="/changesem"><div>Change the Semesters</div></a>
            <a href="/dashboard?claims=approved"><div>Previously Approved Claims</div></a>
          </div>
          {%else%}
            <img src = "static/example.jpg" alt = "Example" id = "example">

          {%endif%}
          {%else%}
          Any previously approved claims will show up here. If you want to download them as an excel file, please select the ones you wish to download and click download.
          {%endif%}
          <div id="flashes">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
        </p>
      </div>
      <div id="claims" class="show">Loading...</div>
      {%if admin%}
      <div class="show" id="download">To download the claims you just <span id="download_action"></span> click <a id="download_link" href="">here</a>.</div>
      {%endif%}
      <div id="buttonTray" class="show">
        {%if admin%}
        {%if all_claims%}
        <div id="buttonTray_download">Download</div>
        <div id="buttonTray_logout">Logout</div>
        <div id="buttonTray_back">Back</div>
        {%else%}
        <div id="buttonTray_approve">Approve</div>
        <div id="buttonTray_logout">Logout</div>
        <div id="buttonTray_disapprove">Disapprove</div>
        {%endif%}
        <style>
h3, h4
{
  cursor:pointer;
}
h3::before, h4::before
{
  content:url('/static/checkbox-unchecked-mini.png');
  padding-right:8px;
}
div.selected > h3::before, div.selected > div > h4::before
{
  content:url('/static/checkbox-checked-mini.png');
  padding-right:8px;
}
#claims > .first > div.second > .claimCard > div:nth-child(2)
{
  display:none;
}
#download
{
  padding-bottom:100px !important;
  visibility:hidden;
}
#buttonTray
{
  width:calc(100% - 32px);
  height:48px;
  position:fixed;
  bottom:0px;
  right:0px;
  box-shadow:0 0 10px rgba(0,0,0,0.24);
}
#mask
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background:rgba(255,255,255,0.48);
  display:none;
}
        </style>
        {%else%}
        <div id="buttonTray_logout">Logout</div>
        {%endif%}
      </div>
    </div>
    <script>var claimpath = false;</script>
    {%if all_claims%}
    <script>var claimpath = '/claims?filter=approved';</script>
    {%endif%}
    {% assets "js_list" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {%if admin%}
    <script>
function parse (claims) {
  var events = Object.keys(claims);
  var events_length = events.length;
  if (events_length === 0) {
    document.getElementById('claims').textContent = "Looks like you are all done with claims :)";
  }
  var people = [];
  for (var  i = 0; i < events_length; i++) {
    people[i] = {
      keys: Object.keys(claims[events[i]]),
      values: [],
      info: []
    };
    var keys = people[i].keys;
    var keys_length = keys.length;
    for (var j = 0; j < keys_length; j++) {
      var claims_ = claims[events[i]][keys[j]];
      people[i].values.push(claims_);
      people[i].info.push([
        "Roll Number: " + claims[events[i]][keys[j]][0].Roll_no,
        "Serial Number: " + claims[events[i]][keys[j]][0].Serial
      ]);
    }
  }
  var claims_ele = document.getElementById('claims');
  for (var i = 0; i < events_length; i++) {
    var event_ele = createFirstCard(events[i]);
    var people_ = people[i];
    var people_length = people_.keys.length;
    for (var j = 0; j < people_length; j++) {
      var person_ele = createSecondCard(people_.keys[j], people_.info[j]);
      person_ele.querySelector('h3').addEventListener('click', function () {
        if (this.parentNode.className.search('selected') === -1) {
          var ids = this.parentNode.querySelectorAll('input[type=hidden]');
          var ids_length = ids.length;
          for (var l = 0; l < ids_length; l++) {
            if (selectedIds.indexOf(ids[l].value) === -1) {
              selectedIds.push(ids[l].value);
            }
          }
          this.parentNode.className += ' selected';
          var eles = this.parentNode.querySelectorAll('.claimCard');
          var eles_length = eles.length;
          for (var l = 0; l < eles_length; l++) {
            if (eles[l].className.search('selected') === -1) {
              eles[l].className += ' selected';
            }
          }
        }
        else {
          var ids = this.parentNode.querySelectorAll('input[type=hidden]');
          var ids_length = ids.length;
          for (var l = 0; l < ids_length; l++) {
            var selectedIdIndex = selectedIds.indexOf(ids[l].value);
            if (selectedIdIndex > -1) {
              selectedIds.splice(selectedIdIndex, 1);
            }
          }
          this.parentNode.className = 'second';
          var eles = this.parentNode.querySelectorAll('.claimCard');
          var eles_length = eles.length;
          for (var l = 0; l < eles_length; l++) {
            if (eles[l].className.search('selected') > -1) {
              eles[l].className = 'claimCard';
            }
          }
        }
      }, false);
      var claims_ = people_.values[j];
      var claims__length = claims_.length;
      for (var k = 0; k < claims__length; k++) {
        var claim_ele = createClaimCard(claims_[k]);
        claim_ele.querySelector('h4').addEventListener('click', function () {
          if (this.parentNode.parentNode.className.search('selected') === -1) {
            if (selectedIds.indexOf(this.parentNode.parentNode.querySelector('input[type=hidden]').value) === -1) {
              selectedIds.push(this.parentNode.parentNode.querySelector('input[type=hidden]').value);
            }
            this.parentNode.parentNode.className += " selected";
            var eles = this.parentNode.parentNode.parentNode.querySelectorAll('.claimCard');
            var eles_length = eles.length;
            var flag = true;
            for (var l = 0; l < eles_length; l++) {
              if (eles[l].className.search('selected') === -1) {
                flag = false;
              }
            }
            if (flag) {
              this.parentNode.parentNode.parentNode.className += " selected";
            }
          }
          else {
            var selectedIdIndex = selectedIds.indexOf(this.parentNode.parentNode.querySelector('input[type=hidden]').value);
            if (selectedIdIndex > -1) {
              selectedIds.splice(selectedIdIndex, 1);
            }
            this.parentNode.parentNode.className = 'claimCard';
            if (this.parentNode.parentNode.parentNode.className.search('selected') > -1) {
              this.parentNode.parentNode.parentNode.className = 'second';
            }
          }
        }, false);
        person_ele.appendChild(claim_ele);
      }
      event_ele.appendChild(person_ele);
    }
    claims_ele.appendChild(event_ele);
  }
};
var selectedIds = [];

{%if not all_claims%}
document.getElementById('buttonTray_approve').addEventListener('click', function () {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("POST", '/claims');
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.onreadystatechange = function() {
    var status = JSON.parse(this.responseText);
    if (status.status) {
      var selected = document.querySelectorAll('.second.selected');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        selected[i].parentNode.removeChild(selected[i]);
      }
      var selected = document.querySelectorAll('.claimCard.selected');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        selected[i].parentNode.removeChild(selected[i]);
      }
      var selected = document.querySelectorAll('.first');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        if (selected[i].querySelectorAll('.second').length === 0) {
          selected[i].parentNode.removeChild(selected[i]);
        }
      }
      selectedIds = [];
      document.getElementById('mask').style.display = "none";
    }
  };
  document.getElementById('mask').style.display = "block";
  document.getElementById('download').style.visibility = "visible";
  document.getElementById('download_action').textContent = "approved";
  document.getElementById('download_link').href = "/download?ids=" + selectedIds.join(',');
  xmlhttp.send(JSON.stringify({
    action: 'approve',
    ids: selectedIds
  }));
}, false);
document.getElementById('buttonTray_disapprove').addEventListener('click', function () {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("POST", '/claims');
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.onreadystatechange = function() {
    var status = JSON.parse(this.responseText);
    if (status.status) {
      var selected = document.querySelectorAll('.second.selected');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        selected[i].parentNode.removeChild(selected[i]);
      }
      var selected = document.querySelectorAll('.claimCard.selected');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        selected[i].parentNode.removeChild(selected[i]);
      }
      var selected = document.querySelectorAll('.first');
      var selected_length = selected.length;
      for (var i = 0; i < selected_length; i++) {
        if (selected[i].querySelectorAll('.second').length === 0) {
          selected[i].parentNode.removeChild(selected[i]);
        }
      }
      selectedIds = [];
      document.getElementById('mask').style.display = "none";
    }
  };
  document.getElementById('mask').style.display = "block";
  document.getElementById('download').style.visibility = "visible";
  document.getElementById('download_action').textContent = "disapproved";
  document.getElementById('download_link').href = "/download?ids=" + selectedIds.join(',');
  xmlhttp.send(JSON.stringify({
    action: 'disapprove',
    ids: selectedIds
  }));
}, false);
{%else%}
document.getElementById('buttonTray_download').addEventListener('click', function () {
  if (selectedIds.length > 0) {
    location.href = "/download?ids=" + selectedIds.join(',');
  }
  else {
    flash("Please select something before asking to download.");
  }
}, false);
document.getElementById('buttonTray_back').addEventListener('click', function () {
  location.href= "/dashboard";
}, false);
{%endif%}
    </script>
    <div id="mask"></div>
    {%endif%}
  </body>
</html>
