<!DOCTYPE html>
<html>
  <head>
    <title>Manipal Attendance Claims</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}"/>
  </head>
  <body>
    <div id="viewport">
      <div class="show">
        <h1>Attendance Claims</h1>
        <p>All the claims that have been submitted and await your approval are listed below.</p>
      </div>
      <div id="claims" class="show">
        
      </div>
    </div>
    <div id="buttonTray">

    </div>
  </body>
</html>
