<!DOCTYPE html>
<html>
	<head>
		<title>Login - Manipal Attendance Claims</title>
		{% assets "css_all" %}
	 <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
	 {% endassets %}
		<meta name="viewport" content="width=device-width, user-scalable=no"/>
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	</head>
	<body>
		{% block body %}
		{% if session.get('user') or session.get('student') %}
		<p>You're logged in already!</p>
		{% else %}

		<form action="/login" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
					</div>

					<div class="login-form">
						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username">
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

		                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
					    <br>
					</div>
					{% if error %}
	    <p class=error><strong>Error:</strong> {{ error }}
	  {% endif %}
				</div>

			</div>
		</form>

		{% endif %}
		{% endblock %}
	</body>
</html>
